<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Wallpapers_Everyday.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Wallpapers_Everyday.Properties.Settings>
            <setting name="Autorun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OnlyDownload" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Notify" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlwaysSet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxFolderSize" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="Debug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Name" serializeAs="String">
                <value>no</value>
            </setting>
            <setting name="NoNotify" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Win10Intresting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Win10IntrestingPath" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="RemoveOld" serializeAs="String">
                <value>False</value>
            </setting>
        </Wallpapers_Everyday.Properties.Settings>
    </userSettings>
</configuration>